@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Plus Jakarta Sans", system-ui, sans-serif;
    }

    body {
        background-color: #f4f7fd;
    }


}

@layer components {

    /*=== Buttons ===*/
    .btn {
        @apply font-bold tracking-normal flex justify-center items-center gap-4 w-full rounded-full
    }

    .btn-primary {
        @apply bg-primaryPurple text-sm text-white leading-19 py-4 px-6;
    }

    .btn-primary-sm {
        @apply bg-primaryPurple text-s text-white leading-23 py-2  px-[69.5px];
    }

    .btn-secondary {
        @apply bg-primaryPurple bg-opacity-10 text-s text-primaryPurple leading-23 pt-[8px] pr-[69.5px] pb-[9px] pl-[69.5px];
    }

    .btn-danger {
        @apply bg-errorRed text-s text-white leading-23 pt-[8px] pr-[69.5px] pb-[9px] pl-[69.5px];
    }

    .btn-text {
        @apply text-sm text-primaryPurple leading-19 p-4 pl-8 rounded-none;
    }


    /*=== Typography ===*/
    .text-heading-xl {
        @apply text-xl leading-30 font-bold;
    }

    .text-heading-lg {
        @apply text-lg leading-23 font-bold;
    }

    .text-heading-md {
        @apply text-sm leading-19 font-bold;
    }

    .text-body {
        @apply text-s leading-23 font-bold;
    }

    .text-body-small {
        @apply text-xs leading-15 font-bold;
    }

    .text-caption {
        @apply text-s leading-23 font-medium;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100px;
        background: #fff;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #ccced4;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #a6a8ad;
    }
}
